<div class="jumbotron" style="background-image: url(../assets/image/michealngelo1.jpg); background-size: 100%;">
    <div class="container">
        <h1 class="display-3" style="font-weight: bold">Michelangelo</h1>
        <p class="lead" style="font-weight: normal">The quest for the sacred and eternal</p>
        <p><a class="btn btn-dark" href="#" role="button">Read more</a></p>
    </div>
</div>

<div class="container" style="padding-bottom: 5em;">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">2016 festival & Performance Guide</h5>
                    </div>
                    <p class="mb-10"></p>
                    <small class="text-muted">October 8, 2017</small>
                </a>

            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Michelangelo: The quest for the sacred and eternal</h5>
                    </div>
                    <p class="mb-10"></p>
                    <small class="text-muted">October 16, 2017</small>
                </a>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Grand Hall Music Festival presents James Simon´s The spirit World</h5>
                    </div>
                    <p class="mb-10"></p>
                    <small class="text-muted">October 25, 2017</small>
                </a>

            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Robert Blake´s exhibition: An immersive experience throug time</h5>
                    </div>
                    <p class="mb-10"></p>
                    <small class="text-muted">October 8, 2017</small>
                </a>

            </div>
        </div>
    </div>

    <section id="features" class="blue">
        <div class="slider slider-2">
            <div class="container">
                <div class=".row-cols-1 asa">
                    <div class="col-lg-9">
                        <div class="strat">
                            <div class="image">
                                <img src="../assets/image/data_img00.png">
                            </div>
                            <div class="text">
                                <h2>Winston Creek Regional Museum to host a new exhibit: An ocean of awe</h2>
                                <p><strong>Lorem Ipsum</strong> dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                                <a href="#">READ MORE</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="strat">
                            <div class="image">
                                <img src="../assets/image/data_img01.png">
                            </div>
                            <div class="text">
                                <h2>The Second exhibit: Gorgeous waving</h2>
                                <p><strong>Lorem Ipsum</strong> dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                                <a href="#">READ MORE</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="strat">
                            <div class="image">
                                <img src="../assets/image/data_img02.png">
                            </div>
                            <div class="text">
                                <h2>Lorem Ipsum 3</h2>
                                <p><strong>Lorem Ipsum</strong> dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                                <a href="#">READ MORE</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



</div>